<html>
    <head>
        <title>Cadastro</title>
    </head>
    <body>
        <form>
            <label>Email</label>
            <input type="email">
            <label>Senha</label>
            <input type="password">
            <label>Confirmar Senha</label>
            <input type="password">
            <label>Confirmar senha</label>
            <input type="password">
            <label>Nome do seu Tumbler</label>
            <input type="text">
        </form>
    </body>
</html>