<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" href="css/form.css">
    </head>
    <body>
        <form class="formulario">
            <label>Email</label>
            <input type="email">
            <label>Senha</label>
            <input type="password">
            <label>Confirmar Senha</label>
            <input type="password">
            <label>Confirmar senha</label>
            <input type="password">
            <label>Nome do seu Tumbler</label>
            <input type="text">
            <button class="btn" type="submit">Cadastrar</button>
            <button class="btn cancelar">Cancelar</button>
        </form>
    </body>
</html>