<%- include('includes/navigation.ejs') %>
    </head>
    <body>
        <form method="POST" action="/cadastro">
            <div class="form-control">
                <label>Email</label>
                <input type="email" name="email">
            </div>
            <div class="form-control">
                <label>Senha</label>
                <input type="password" name="password">
            </div>
            <div class="form-control">
                <label>Confirmação de senha</label>
                <input type="password" name="confirmPassword">
            </div>
            <div class="form-control">
                <label>Nome do perfil</label>
                <input type="text" name="name">
            </div>
            <div class="btn-div">
                <button class="btn blue" type="submit">Cadastrar</button>
                <button class="btn" ><a href="/">Cancelar</a></button>
            </div>
        </form>
    </body>
</html>