<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav>
        <ul>
            <div class="left-list">
                <li><a href="/">Home</a></li>
            </div>
            <div class="right-list">
                <div class="vertical-line">
                    <li><a href="/cadastro">Cadastro</a></li>
                </div>
                <li><a href="login">Login</a></li>
            </div>
        </ul>
    </nav>

  <%- body %>

</body>
</html>
