<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form>
            <label>Email</label>
            <input type="email">
            <label>Senha</label>
            <input type="password">
        </form>
    </body>
</html>