<%- contentFor('title') %>
Novo Post

<%- contentFor('body') %>
<% if (errorMessage) { %>
  <div class="error"><%= errorMessage %></div>
<% } %>
<form method="POST" action="/post">
    <div class="form-group">
      <label for="formGroupExampleInput">Título</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="titulo">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Conteúdo</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="conteudo"></textarea>
    </div>
    <button class="btn btn-dark" type="submit">Postar</button>
    <button class="btn btn-link" ><a href="/">Cancelar</a></button>
</form>