body {
    padding-top: 5em;
}

.nav-color {
    background-color: #4b167e;
}

.error {
    color: red;
    text-align: center;
}

.nav-item-text {
    text-align: center;
}

h1 {
    text-align: center;
}
.btn-group-align {
      text-align: center;
}