body {
    padding-top: 5em;
}

.nav-color {
    background-color: #4b167e;
}

.error {
    color: red;
}

.nav-item-text {
    text-align: center;
}

h1 {
    text-align: center;
}

.sub-nav-item {
    padding-left:35px;
    padding-right:35px;
  }